<html>
	<head>
		<script src="../../static/js/jquery2.min.js"></script>
		<script src="../../static/js/bootstrap-alert.js"></script>
		<script src="../../static/js/bootstrap.js"></script> 
		<script src="../../static/js/bootstrap.min.js"></script>
		
		<link href="../../static/css/bootstrap.css" rel="stylesheet"> 
		<link href="../../static/css/bootstrap-responsive.css" rel="stylesheet"> 
		<link href="../../static/css/bootstrap.min.css" rel="stylesheet"> 
		
	</head>	
	<table>
	<tbody>
	<form method="post">{% csrf_token %}
		<div class="alert alert-block">
			<span class="label label-warning">AVISO!</span>
				
				Você irá excluir, <div class="label btn btn-primary">{{ object }}</div> deseja continuar?
				<input type="submit" value="Excluir" />
		</div>	
		
	</form>
	</tbody>
	</table>


</html>